body {
  background: #f9f9f9;
}
button {
  cursor: pointer;
}
/* página de cadastro */
.div_form_cadastro {
  position: relative;
  top: 18rem;
  margin: auto;
  width: 28rem;
  height: 25rem;
  background: #6495ed;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
}
.form_cadastro {
  position: relative;
  top: 10%;
  gap: 1.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
.legend_cadastro {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  color: #fff;
}
input {
  width: 16rem;
  height: 2.5rem;
  background: #f3f3f3;
  border: none;
  border-radius: 0.4rem;
}
.botao_form_cadastrar {
  width: 10rem;
  height: 3rem;
  background: #edbc64;
  border-radius: 0.5rem;
  border: none;
  color: #fff;
  font-size: 1.2rem;
}
.x {
  position: absolute;
  top: 1rem;
  left: 25.5rem;
  font-size: 2rem;
  font-weight: 800;
  color: #fff;
  font-family: monospace;
}
/* página de login */
.div_form_login {
  position: relative;
  top: 18rem;
  margin: auto;
  width: 28rem;
  height: 25rem;
  background: #6495ed;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
}
.form_login {
  position: relative;
  top: 20%;
  gap: 1.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
.legend_login {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  color: #fff;
}
.botao_form_login {
  margin-top: 1.6rem;
  width: 10rem;
  height: 3rem;
  background: #edbc64;
  border-radius: 0.5rem;
  border: none;
  color: #fff;
  font-size: 1.2rem;
}
/* página home */
.header_home {
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
  width: 100vw;
  position: absolute;
  height: 4rem;
  left: 0px;
  top: 0px;
  background: #6495ed;
}
.botao_home_logout {
  margin-top: 0.8rem;
  margin-right: 3rem;
  width: 8rem;
  height: 2.3rem;
  background: #edbc64;
  border-radius: 0.5rem;
  border: none;
  color: #fff;
  font-size: 1.2rem;
}
.div_user_header {
  display: flex;
  width: 15rem;
  height: 4rem;
  gap: 1rem;
  right: 86%;
  position: fixed;
}
.img_usuario {
  border: none;
  object-fit: cover;
  margin: 0.1rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 9rem;
}
.nome_usuario {
  margin-top: 1.1rem;
  width: 9rem;
  font-size: 1.8rem;
  font-weight: 400;
  color: #fff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.div_texto_post {
  position: absolute;
  width: 60%;
  height: 12rem;
  left: 22%;
  top: 11%;
  background: #ffffff;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.8rem;
}
.input_texto_post {
  width: 96%;
  height: 20%;
  margin: 0.8rem;
  background-color: #fff;
  font-size: 1rem;
}
.botao_texto_post {
  position: absolute;
  top: 77%;
  left: 95%;
  width: 3%;
  background-color: #edbc64;
  border: none;
  border-radius: 0.3rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
}
/* .post_user{
 
} */
.li_user_post {
  position: relative;
  display: flex;
  top: 23rem;
  margin-bottom: 1.4rem;
  width: 60%;
  height: 15rem;
  left: 22%;
  background: #ffffff;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.8rem;
}
.img_user_post {
  object-fit: cover;
  margin: 1rem;
  width: 5rem;
  height: 5rem;
  border-radius: 9rem;
  border: none;
}
.p_user {
  margin-top: 1.6rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.p_post_content {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: gray;
}
.data_post {
  position: absolute;
  top: 80%;
  left: 75%;
  font-size: 1rem;
  font-weight: 600;
  color: gray;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.div_editar_post{
  position: absolute;
  right: 0;
  top: 5rem;
  display: flex;
  flex-direction: column;
  width: 18%;
  height: 10%;
}
.botao_editar{
  font-size: 1.5rem;
  font-weight: 200;
  color: blue;
  border: none;
  background: #fff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    cursor: pointer;
}
.botao_Apagar{
  font-size: 1.5rem;
  color: red;
  border: none;
  background: #fff;
  font-weight: 200;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    cursor: pointer;
}
/* mobile */
@media (max-width: 375px) {
  .div_user_header {
    margin-top: 1rem;
    right: 33%;
  }
  .header_home {
    height: 9rem;
    width: 100%;
  }
  .botao_home_logout {
    margin-top: 5rem;
    margin-right: 1rem;
  }
  .div_texto_post {
    width: 90%;
    left: 0;
    margin: 1rem;
    margin-top: 0.6rem;
  }
  .li_user_post {
    width: 90%;
    left: 1%;
    margin: 1rem;
  }
  .data_post {
    left: 40%;
  }
  .botao_texto_post {
    left: 80%;
    width: 16%;
  }
  .input_texto_post {
    font-size: 1.5rem;
  }
  .p_post_content{
    font-size: 1.1rem;
  }
}
